:root{
    --var-background: #17222B;
}
body{
    background-color: var(--var-background);
}
.bodyContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3664px;
    background-color: var(--var-background);
}
.headerContainer{
    height: 100px;
    width: 100%;
    background-color: rgba(23,34,43,0.7);
}
.imgBackground{
    mix-blend-mode: color-dodge;
}