*{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --var-white: #FFF;
    --var-background: #17222B;
    --var-primaryColor: #FFC236;
    --var-transparent: rgba(0, 0, 0, 0.3);
}
body{
    background-color: var(--var-background);
}
.imgBackground{
    position: absolute;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    z-index: 0;
}
.bodyContainer{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3664px; 
    background-color: var(--var-background);
}

/** HEADER **/
.headerContainer{
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--var-transparent);
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
}
.rightContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 1670px;
}
.dataContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    height: 100%;
    width: 400px;
}
.dataItem{
    font-size: 18px;
    font-weight: 700;
    color: var(--var-white);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dataItem i{
    padding-left: 13px;
}

.fa-check-circle{
    color: #33FF00;
}
.playersOn{
    color: var(--var-primaryColor);
}
.linksContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 125px;
    height: 100%;
    width: auto;
}
.linkPosition{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 757px;
}
.links{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--var-white);
}
/** FIN HEADER **/

/* CONTENT */
.contentContainer{
    z-index: 1;
    height: 100%;
    margin: 100px 250px 0px;
}
.topContainer{
    display: flex;
    justify-content: space-between;
    height: 320px;
}
/** SERVER **/
.serverContent{
    height: 320px;
    width: 320px;
    border-radius: 10px;
    background-color: var(--var-transparent);
}
.serverPadding{
    padding: 20px;
}
.serverTitle{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.serverFont{
    color: var(--var-white);
    text-align: center;
}
.serverFont h3{
    font-weight: 800;
    font-size: 28px;
    margin: 0;
}
.serverFont p{
    font-size: 24px;
    margin: 0;
}
.serverInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.fa-server{
    font-size: 57px;
    color: var(--var-white);
}

.blockdata{
    height: 40px;
    background-color: var(--var-transparent);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.blockdata p{
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: var(--var-white);
}







.loginContent{
    height: 320px;
    width: 420px;
    border-radius: 10px;
    background-color: var(--var-transparent);
}


