*{
    font-family: 'Montserrat', sans-serif;`
}
:root{
    --var-white: #FFF;
    --var-background: #17222B;
    --var-primaryColor: #FFC236;
    --var-secondaryColor: #D79500;
    --var-transparent: rgba(0, 0, 0, 0.3);
    --var-news: #3988FF;
    --var-updates: #FF005C;
    --var-events: #56EA2B;
    --var-fontL: 300;
    --var-fontM: 500;
    --var-fontB: 700;

}
body{
    background-color: var(--var-background);
}
.imgBackground{
    position: absolute;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    z-index: 0;
}
.bodyContainer{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3664px; 
    background-color: var(--var-background);
}

/** HEADER **/
.headerContainer{
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--var-transparent);
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
}
.rightContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 1670px;
}
.dataContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    height: 100%;
    width: 400px;
}
.dataItem{
    font-size: 18px;
    font-weight: var(--var-fontB);
    color: var(--var-white);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dataItem i{
    padding-left: 13px;
}

.fa-check-circle{
    color: #33FF00;
}
.playersOn{
    color: var(--var-primaryColor);
}
.linksContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 125px;
    height: 100%;
    width: auto;
}
.linkPosition{
    width: 757px;
}
.linkPosition ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.links{
    text-decoration: none;
    font-size: 18px;
    font-weight: var(--var-fontB);
    color: var(--var-white);
    position: relative;
}
.links:after {
    background: var(--var-primaryColor);
    content: '';
    display: inline-block;
    height: 2px;
    margin: auto;
    position: absolute;
    bottom: -5px; left: 0; right: 0;
    transition: all 300ms;
    width: 0%;
}
.links:hover{
    color: var(--var-primaryColor);
}
.links:hover:after{
    width: 100%;
}
/** CONTENT **/
.contentContainer{
    z-index: 1;
    height: 100%;
    margin: 100px 250px 0px;
}

/** TOP **/
.topContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 320px;
}
.serverContent{
    height: 320px;
    width: 320px;
    border-radius: 10px;
    background-color: var(--var-transparent);
}
.serverPadding,
.loginPadding{
    padding: 20px;
}
.serverTitle,
.loginTitle,
.buttonTitle{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.serverFont,
.loginFont,
.buttonFont{
    color: var(--var-white);
    text-align: center;
}
.loginFont{
    width: 290px;
}
.serverFont h3,
.loginFont h3,
.buttonFont h3{
    font-weight: var(--var-fontB);
    font-size: 28px;
    margin: 0;
}
.serverFont p,
.loginFont p,
.buttonFont p{
    font-size: 24px;
    margin: 0;
}
.serverInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding-top: 20px;
}
.fa-server,
.fa-address-card{
    font-size: 57px;
    color: var(--var-white);
}
.blockdata{
    height: 40px;
    background-color: var(--var-transparent);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.blockdata p{
    margin: 0;
    font-size: 24px;
    font-weight: var(--var-fontL);
    color: var(--var-white);
}
form .serverInfo .blockdata{
    padding-left: 0px;
}
form .serverInfo .blockdata input{
    border-radius: 10px;
    border: none;
    height: 100%;
    width: 100%;
    color: var(--var-white);
}

.loginContent{
    height: 320px;
    width: 420px;
    border-radius: 10px;
    background-color: var(--var-transparent);
}
.login{
    background-color: var(--var-primaryColor);
    font-size: 24px;
    font-weight: var(--var-fontB);
}
.login:hover{
    cursor: pointer;
}
.forgot{
    background: none;
    display: flex;
    justify-content: center;
}
.forgot p{
    font-size: 18px;
}
.inputForm{
    padding-left: 15px;
    font-size: 24px;
}
.inputForm::placeholder{
    font-size: 24px;
}
.imgContainer{
    top: -60px;
    left: 420px;
    position: absolute;
    height: 100%;
}
.imgContainer img{
    height: 150%;
    pointer-events: none;
}

/** MID **/
.midContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 920px;
}
.noticesContainer{
    height: 100%;
    width: 965px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/** NOTICES **/
.notice{
    color: var(--var-white);
    height: 200px;
    display: flex;
}
.notice:hover{
    cursor: pointer;
}
.noticeImageContainer{
    position: relative;
    height: 200px;
    width: 320px;
    border-radius: 10px;
    background-color: var(--var-primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
}
.noticeImgFront{
    width: 100%;
    z-index: 1;
}
.noticeImgBack{
    position: absolute;
    mix-blend-mode: luminosity;
    width: 180%;
}
.noticeTextContainer{
    height: 200px;
    width: 605px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.noticeCategory{
    display: flex;
    align-items: center;
    height: 20px;
}
.noticeCategory p{
    margin: 0px;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: var(--var-fontB);
}
.news p{
    background-color: var(--var-news);
}
.updates p{
    background-color: var(--var-updates);
}
.events p{
    background-color: var(--var-events);
}
.noticeTitle{
    height: 58px;
}
.noticeTitle h3{
    margin: 0px;
    font-size: 24px;
    font-weight: var(--var-fontB);
}
.noticeText{
    height: 51px;
}
.noticeText p{
    margin: 0;
    font-size: 14px;
    font-weight: var(--var-fontL);
}
.noticeText a{
    color: var(--var-primaryColor);
    font-weight: var(--var-fontM);
    text-decoration: none;
}
.noticeDay{
    display: flex;
    justify-content: flex-end;
}

/** BUTTONS */
.buttonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 415px;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 515px;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: var(--var-primaryColor);
    border-radius: 10px;
}
.button:hover{
    cursor: pointer;
}
.buttonFont{
    width: 50%;
}
.fa-user-plus,
.fa-download,
.fa-vote-yea,
.fa-donate{
    font-size: 57px;
    color: var(--var-secondaryColor);
}
.discord{
    width: 414px;
    height: 357px;
    background-color: var(--var-transparent);
    border-radius: 10px;
}
/** SEPARATOR **/
.separatorContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1240px;
    height: 120px;
    margin: 80px 90px;
}
.separatorData{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 220px;
    color: var(--var-white);
}
.separatorTitle{
    margin: 0;
    font-weight: var(--var-fontB);
    font-size: 64px;
    text-align: center;
}
.separatorLine{
    width: 100px;
    height: 2px;
    background-color: var(--var-primaryColor);
}
.separatorText{
    margin: 0;
    font-weight: var(--var-fontL);
    font-size: 18px;
    text-align: center;
}
/** INSTANCES **/
.instancesContainer{
    height: 610px;
    margin-bottom: 60px;
}
.instancesTop{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instancesMainTitle{
    color: var(--var-white);
    font-size: 48px;
    font-weight: var(--var-fontB);
    margin: 0;
}
.instancesData{
    display: flex;
    justify-content: space-between;    
}
.instancesLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 490px;
    margin-right: 20px;
}
.instancesOption{
    width: 320px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--var-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
}
.instancesOption:hover{
    cursor: pointer;
}
.instancesOption h3{
    text-transform: uppercase;
    color: var(--var-white);
    margin: 0;
}
.iActive{
    background-color: var(--var-primaryColor);
    transition: 1s;
}
.instancesRightBox{
    display: flex;
    justify-content: space-between;
    width: 1060px;
    height: 440px;
}
.instances1,
.instances2,
.instances3,
.instances4{
    width: 100%;
    display: none;
    justify-content: space-between;
}
.iBoxActive{
    display: flex;
    transition: ease-in 2s;
}
.instancesBox{
    width: 325px;
    height: 440px;
    border-radius: 10px;
    background-color: var(--var-transparent);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.instancesBox2{
    visibility: hidden;
}
.instancesBoxHigh{
    width: 325px;
    height: 230px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--var-primaryColor);

}
.instancesBoxImgC{
    width: 325px;
    height: 230px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
}
.instancesImgFront{
    width: 100%;
    z-index: 1;
}
.instancesImgBack{
    position: absolute;
    mix-blend-mode: luminosity;
    width: 180%;
}
.instancesBoxLow{
    width: 325px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.instancesBoxLowPadding{
    width: 285px;
    height: 170px;
    color: var(--var-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instancesTitle p,
.instancesAvailable p,
.instancesDescription p,
.instancesRequeriments p{ 
    margin: 0;
}
.instancesTitle{
    font-size: 24px;
}
.instancesAvailable{
    font-size: 14px;
    font-weight: var(--var-fontB);
    text-transform: uppercase;
}
.instancesAvailable p{
    width: fit-content;
    margin: 0px;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: var(--var-fontB);
}
.notAvailable p{
    background-color: var(--var-updates);
}
.available p{
    background-color: var(--var-events);
}
.instancesDescription p{
    font-size: 14px;
    font-weight: var(--var-fontL);
}
.req{
    display: flex;
    font-size: 14px;
}
.req p{
    font-weight: var(--var-fontB);
}
.req i{
    padding-left: 10px;
    font-weight: var(--var-fontL);
    font-style: normal;
}
/** WOE **/
.woeContainer{
    width: 100%;
    height: 660px;
}
.woeSvg{
    position: absolute;
    left: 0;
    margin-top: 50px;
}
.woeTopInformation{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.woeBox{
    z-index: 1;
    width: 415px;
    height: 100px;
    display: flex;
    background-color: var(--var-primaryColor);
    border-radius: 10px;
}
.woeShieldContainer{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.woeShield{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--var-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-shield-alt{
    color: var(--var-white);
    font-size: 30px;
    margin-left: 2px;
    margin-top: 2px;
}
.woeTextContainer{
    width: 315px;
    color: var(--var-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.woeCalendar{
    margin: 0;
    font-weight: var(--var-fontB);
    font-size: 24px;
}
.woeTime{
    margin: 0;
    font-weight: var(--var-fontL);
    font-size: 24px;
}
.woeLowInformation{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.woeLeft{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    color: var(--var-white);
}
.woeTitle{
    font-weight: var(--var-fontM);
    color: var(--var-white);
    font-size: 48px;
    margin: 0;
}
.woeTitle i,
.woeSubtitle i{
    font-weight: var(--var-fontB);
    margin: 0;
    font-style: normal;
}
.woeSubtitle{
    font-size: 24px;
    width: 480px;
    text-align: center;
}
.woeRight{
    z-index: 1;
    color: var(--var-white);
    padding-left: 50px;
}
.woeNext{
    margin: 0;
    font-size: 48px;
}
.woeName{
    margin: 0;
    font-size: 95px;
}

.woeCounter{
    width: 460;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.woeCounterBox{
    width: 100px;
    height: 100px;
    background-color: var(--var-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counterBoxTitle{
    margin: 0;
    font-size: 48px;
    font-weight: var(--var-fontB);
}
.counterBoxSubtitle{
    margin: 0;
    font-size: 18px;
    font-weight: var(--var-fontL);
    text-align: center;
}
.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 510px;
}
.footerInside{
    height: 390px;
    width: 700px;
    display: flex;
    flex-direction: column;
}
.footerColumns,
.footerLogo{
    display: flex;
    align-items: center;
}
.footerColumns{
    justify-content: space-between;
}
.footerLogo{
    justify-content: center;
    height: 90px;
    width: 100%;
}
.footerColumn{
    height: 300px;
    width: 200px;
}
.footerColumn ul{
    list-style: none;
    text-align: center;
    color: var(--var-white);
    margin: 0;
    padding-left: 0;
    font-size: 18px;
}
.footerColumn ul h3{
    color: var(--var-primaryColor);
}
.footerColumn ul li{
    padding-bottom: 15px;
}
.footerColumn ul li a{
    text-decoration: none;
    color: var(--var-white);
}